.accordion {
  width: 100%;
  flex-direction: column;
}

.accordionTitle {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.accordionContent {
  width: 100%;
  display: flex;
  overflow: hidden;
  animation: fadeDown 0.5s ease-in-out;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
